<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a new Post</title>
    <%- include('includes/htmlhead') %>
  </head>
  <body>
    <div class="container">
      <h1>Add a New Post</h1>
      <form method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Once upon a time...">
        </div>
        <div class="form-group">
          <label for="short">
            Short-form Content
            <small id="passwordHelpInline" class="text-muted">
              Displayed on the home page as the summary text
            </small>
          </label>
          <textarea class="form-control" id="short" name="short" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="long">
            Long-form Content
            <small id="passwordHelpInline" class="text-muted">
              The full Post contents
            </small>
          </label>
          <textarea class="form-control" id="long" name="long" rows="14"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
        <div class="mt-1">
          <a href="https://guides.github.com/features/mastering-markdown/">Markdown Help</a>
        </div>
      </form>
    </div>
  </body>
</html>
