<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <%- include('includes/htmlhead') %>
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <p>💔 The page you requested encountered an error</p>
      <p><a href="/" class="btn btn-secondary">Go Home</a></p>
    </div>
  </body>
</html>
