<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Page Title -->
    <title>My Blog</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="/site.css">
  </head>
  <body>
    <h1>Hello world!</h1>
    <% if (posts.length) { %>
      <%= posts.length %> Posts
    <% } else { %>
      No posts yet.
    <% } %>
  </body>
</html>
