<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Blog</title>
    <%- include('includes/htmlhead') %>
  </head>
  <body>
    <div class="container">
      <h1>Hello world!</h1>
      <% if (posts.length) { %>
        <p>
          <%= posts.length %> Posts
        </p>
      <% } else { %>
        <p>
          No posts yet.
        </p>
      <% } %>
      <p class="mt-1">
        <a href="/create-post" class="btn btn-secondary">Create post</a>
      </p>
    </div>
  </body>
</html>
